@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
* {
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}
body{
    background-color: #191919;
}
.game-board {
    width: 50%;
    max-width: 800px;
    height: 500px;
    border: 1px solid black;
    border-bottom: 15px solid rgb(3, 94, 3);
    border-radius: 10px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF);
}
@media only screen and (max-width: 768px) {
    .game-board {
        width: 90%;
        max-width: none;
    }
    .modal-content{
        width: 90%; 
        max-width: none; 
    }
    .modal{
        width: 90%; 
        max-width: none;
    }
}
.pipe {
    position: absolute;
    bottom: 0;
    width: 80px;
    height: 85px;
    animation: pipe-animation 1s infinite linear;
}

.mario {
    width: 150px;
    bottom: 0;
    position: absolute;
}

@media only screen and (max-width: 768px) {
    .pipe {
        width: 50px; /* Reduzindo o tamanho do pipe para dispositivos móveis */
        height: 50px; /* Reduzindo o tamanho do pipe para dispositivos móveis */
    }

    .mario {
        width: 100px; /* Reduzindo o tamanho do Mario para dispositivos móveis */
    }
}

.jump {
    animation: jump 500ms ease-out;
}

.clouds {
    position: absolute;
    width: 450px;
    animation: clouds-animation 15s infinite linear;
}

@keyframes pipe-animation {
    from {
        right: -80px;
    }
    to {
        right: 100%;
    }
}

@keyframes jump {
    0% {
        bottom: 0;
    }
    40% {
        bottom: 180px;
    }
    50% {
        bottom: 180px;
    }
    60% {
        bottom: 180px;
    }
    100% {
        bottom: 0;
    }
}

@keyframes clouds-animation {
    from {
        right: -450px;
    }
    to {
        right: 100%;
    }
}

#btn {
    background-color: #05880c;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0 auto;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#btn:hover {
    background-color: #00733d;
}

.contador {
    color: rgb(255, 255, 255);
    font-size: 30px;
    margin: 10px;
    text-align: center; 
    font-weight: 400, bolder;
}
/* Estilos do modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
@media (max-width: 600px) {
    .modal-content {
        width: 50%; 
        padding: 10px; 
    }
}
.modal-content {
    width: 80%; 
    max-width: 500px; 
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    background-color: #fefefe;
    text-align: center;
    margin-top: 200px;
}
p, br{
    font-size: 25px;
    font-weight: bolder;
    color: red;
}
h1{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 25px;
} 
.paused {
    animation-play-state: paused;
}